#imageBackground{
    display:flex;
    justify-content: center;
    width:100%;
    height: 100vh;
    background-color: black;

}
#imageArticle{
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
}
#imageCenter{
    text-align: center;
}
#imageTitleFix{
    padding-right: 40px;
}