.background2{
    background-color: blue;
    height: 80vh;
    display: flex;
    justify-content: center;
}
#userArt{
    width: 75vw;
    background-color: white;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
}
#userSetting{
    width: 40%;
    height: 130px;
    border: 2px solid lightgrey;
}
#topArticle{
    display: flex;
}
#createForm{
    height: 130px;
    width:60%;
    display:flex;
}
#gallery{
    display: flex;
    flex-wrap: wrap
}
